<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OX reactive page</title>
    <meta name="vieport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple OX page">

    <meta name="keywords" content="plast, ox, lytsar">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}" />
-->

</head>
<body>

<div id="starting">
    <div class="container">
        <div class="row">
            <h1>List of News
            </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Published</th>
                        <th>Title</th>
                       <!-- <th>Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% if latest_news_list %}
                      {% for new in latest_news_list %}
                          <tr>
                            <td scope="row">{{ new.pub_date }}</td>
                            <td><a href="/news/{{ new.id }}/">{{ new.title }}</a></td>
                            <!-- <td>
                                <button class="btn btn-info" @click="getSingleNews(singleNews.news_id)">Edit</button>
                                <button class="btn btn-danger" @click="deleteSingleNews(singleNews.news_id)">Delete</button>   
                            </td>-->
                          </tr>
                      {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>