<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OX reactive page</title>
    <meta name="vieport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple OX page">

    <meta name="keywords" content="plast, ox, lytsar">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        p {text-indent: 55px; /* Отступ первой строки в пикселах */}
        h1{text-align: center}
    </style>

<!--{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}" />
-->

</head>
<body>

<div id="starting">
    <div class="container">
            <h1>
                {{ new.title }}
            </h1>
                {{ new.pub_date }}
                <hr>
            <table class="table">
                <tbody>
{% autoescape off %}
                <div class="container">            
                    <h6>{{ new.content }}</h6>
                </div>
{% endautoescape %} 

                </tbody>
            </table>


            <table class="table">
                <tbody>
                    {% load staticfiles %}
                          <tr>
                                {% for photo in p_list %}
                                     <td>
                                        <a href="{{ photo.image.url }}"><img src="{{ photo.image.url }}" width="300" height="300" alt="{{ photo.image }}">
                                     </td>
                                {% endfor %}
                          </tr>
                </tbody>
            </table>


    </div>
</div>

</body>
</html>